#msform fieldset {
    background: white;
    border:none;
    margin-right: 16px;
    margin-left: 16px;
    height: 100%;

    // /*stacking fieldsets above each other*/
    // position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}