<fieldset style="border: none;">
  <div style="font-size: 12px;font-weight: 400;text-align: justify;;">
    <div style="margin-bottom: 16px;">Step 1 - Click start to begin the video resume</div>
    <div style="margin-bottom: 16px;">Step 2 - Click start button to tell about yourself</div>
    <div style="margin-bottom: 16px;font-style: italic;">(Maximum recording length: 30 seconds)</div>
  </div>
  <div style="height: 80%;border: 1px solid;border-radius: 8px;text-align: justify;padding: 20px 16px;">
    <div style="margin-bottom: 16px;">
      <div style="font-size: 12px;font-weight: 700;">Personal details - full name, city, country, etc.</div>
      <div style="font-size: 12px;font-weight: 400;">eg: I am John Doe, I live in India</div>
    </div>
    
    <div style="margin-bottom: 16px;">
      <div style="font-size: 12px;font-weight: 700;">Education - Start with your highest qualification, Institute & location, Passing year, etc.</div>
      <div style="font-size: 12px;font-weight: 400;">eg: I have completed my Bachelors from Delhi</div>
    </div>
    
    <div style="margin-bottom: 16px;">
      <div style="font-size: 12px;font-weight: 700;">Experience - Total experience, Latest company, Designation, Tenure, etc.</div>
      <div style="font-size: 12px;font-weight: 400;">eg: I completed my Bachelors from DU, India and currently working in a startup with a experience of 5 years.</div>
    </div>
    
    <div style="margin-bottom: 16px;">
      <div style="font-size: 12px;font-weight: 700;">Skills - Lists the skills you have (technical or non-technical)</div>
      <div style="font-size: 12px;font-weight: 400;">eg: I know HTML+ CSS, Python and very good with the communication and time management.</div>
    </div>
    
    <div style="margin-bottom: 16px;">
      <div style="font-size: 12px;font-weight: 700;">Extra Information - This is optional you can talk about anything which is relevant to your field</div>
      <div style="font-size: 12px;font-weight: 400;">eg: I love cooking and I like to try different methods each time to enhance my cooking skill. Which also helps me to keep myself motivated.</div>
    </div>
    
  </div>
  <!-- <div class="actionbtns">
    <ion-button mode="md" class="btn btncolor" (click)="nextClick('personal')">Next</ion-button>
  </div> -->
</fieldset>