<ion-content [fullscreen]="true" class="ion-margin">
  <!-- MultiStep Form -->

      <div id="msform">
          <!-- progressbar -->
          <ul id="progressbar" style="display: flex;">
              <li [class.active]="introductioncard==true"><span class="steptxt">Instructions</span></li>
              <li [class.active]="personalcard==true"><span class="steptxt">Personal Details</span></li>
              <li [class.active]="educationcard==true"><span class="steptxt">Education/Experience</span></li>
              <li [class.active]="skillcard==true"><span class="steptxt">Skill set</span></li>
              <li [class.active]="extracard==true"><span class="steptxt">Extra Info</span></li>
          </ul>
          <div style="height: 90%;">
            <ng-container *ngIf="currentcard==1">
              <app-vid-intro></app-vid-intro>
              <div style="margin-top: 16px;">
                <ion-button mode="md" class="btn btncolor" (click)="nextClick('personal')">Next</ion-button>
              </div>
            </ng-container>

            <ng-container *ngIf="currentcard==2">
              <app-vid-personal></app-vid-personal>
              <div class="actionbtns">
                <ion-button mode="md" fill="outline" class="btn" color="primary" (click)="prevClick('introduction')">Back</ion-button>
                <ion-button mode="md" class="btn btncolor" (click)="nextClick('education')">Next</ion-button>
              </div>
            </ng-container>

            <ng-container *ngIf="currentcard==3">
              <app-vid-educational></app-vid-educational>
              <div class="actionbtns">
                <ion-button mode="md" fill="outline" class="btn" color="primary" (click)="prevClick('personal')">Back</ion-button>
                <ion-button mode="md" class="btn btncolor" (click)="nextClick('skill')">Next</ion-button>
              </div>
            </ng-container>

            <ng-container *ngIf="currentcard==4">
              <app-vid-skill></app-vid-skill>
              <div class="actionbtns">
                <ion-button mode="md" fill="outline" class="btn" color="primary" (click)="prevClick('education')">Back</ion-button>
                <ion-button mode="md" class="btn btncolor" (click)="nextClick('extrainfo')">Next</ion-button>
                
              </div>
            </ng-container>

            <ng-container *ngIf="currentcard==5">
              <app-vid-extra-info></app-vid-extra-info>
              <div class="actionbtns">
                <!-- <ion-button mode="md" fill="outline" class="btn"  (click)="prevClick('skill')">Back</ion-button>
                <ion-button mode="md" class="btn btncolor" (click)="submitClick()">Submit</ion-button> -->
                <ion-button mode="md" fill="outline" class="btn"  (click)="doPreview()">Preview</ion-button>
                <ion-button mode="md" class="btn btncolor" (click)="doSave()">Save</ion-button>
                
              </div>
            </ng-container>

          </div>
      </div>
  
<!-- /.MultiStep Form -->
</ion-content>
