.titletxt{
    color: #111812;
    font-size: 18px;
    font-weight: 700;
}
.savetxt{
    color: #130160;
    font-size: 15px;
    font-weight: 500;
}
.inputfld{
    margin: 16px 0px;
}
.upload_container{
    border: 1px solid;
    border-radius: 6px;
    text-align: center;
    padding: 3.5rem 16px;
    margin: 18% auto;
}
.upload_txt{
    font-size: 16px;
    font-weight: 600;
    color:var(--ion-color-link);
}
.upload_icon{
    font-size: 32px;
    margin-bottom: 16px;
}