<ion-header>
  <ion-toolbar mode="md" color="xlight">
    <ion-buttons slot="start">
      <ion-button (click)="close()"> 
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="titletxt">Add certifications</ion-title>
    <ion-buttons slot="end">
      <ion-button class="savetxt" (click)="save()"> Save </ion-button>
    </ion-buttons>
  </ion-toolbar>
  </ion-header>
  <ion-content mode="md" class="ion-padding">
    <ion-input label="Certifications" label-placement="floating" fill="outline" placeholder="Enter your certifcate, If you have any" class="inputfld"></ion-input>
    <div class="upload_container">
      <div>
        <ion-icon src="assets/icon/upload.svg" (click)="f.click()" class="upload_icon"></ion-icon>
        <input class="ion-hide" #f type="file" (change)="loadImageFromDevice($event)" id="file-input"
                accept="image/png, image/jpeg">
      </div>
      <div class="upload_txt"><ion-label>Upload your file in pdf. , doc, png, jpg</ion-label></div>

    </div>
  </ion-content>
  