.titletxt{
    color: #111812;
    font-size: 18px;
    font-weight: 700;
}
.savetxt{
    color: #130160;
    font-size: 15px;
    font-weight: 500;
}
.inputfld{
    margin: 26px 0px;
    height: 70px;
}
.description_fld{
    margin: 26px 0px;
    height: 78px;
}
.startbtn,.endbtn{
    font-size: 10px;
    font-weight: 500;
    color: #111812;
    text-transform: none;
}
.addexpbtn{
    font-size: 10px;
    font-weight: 500;
    text-transform: none;
}
.date_ico{
    font-size: 1.3rem;
}