<ion-content [fullscreen]="true" >
  <div>
    <ion-icon *ngIf="showCloseIcon" name="close-outline" mode="md" class="backbtn" style="float: right;" (click)="close()"></ion-icon>
  </div>
  <div class="welcome_lbl_container ion-padding">
    <div class="welcome_txt" translate>app.language.welcome_to <span class="app_title" translate>app.title</span></div>
    <!-- <div class="welcome_txt" translate>app.language.welcome_to <span class="app_title" translate><img src="assets/icon/Kamai.png" style="width:120px;"/></span></div> -->
    <div class="description_txt" translate>app.language.choose_lang</div>
  </div>
  <ion-radio-group [value]="languageselected" mode="md" class="ion-justify-content-center" (ionChange)="onLanguageChange($event)">
    <div class="center"> <ion-radio value="en" [class.selected]="languageselected === 'en'" class="item" translate>app.english</ion-radio></div>
    <div class="center"> <ion-radio value="hi" [class.selected]="languageselected === 'hi'" class="item" translate>app.hindi</ion-radio></div>
    <div class="center"> <ion-radio value="de" [class.selected]="languageselected === 'de'" class="item" translate>app.malayalam</ion-radio></div>
    <div class="center"> <ion-radio value="te" [class.selected]="languageselected === 'te'" class="item" translate>app.telugu</ion-radio></div>
    <div class="center"> <ion-radio value="ur" [class.selected]="languageselected === 'ur'" class="item" translate>app.urdu</ion-radio></div>
    <div class="center"> <ion-radio value="ta" [class.selected]="languageselected === 'ta'" class="item" translate>app.tamil</ion-radio></div>
    <div class="center"> <ion-radio value="kn" [class.selected]="languageselected === 'kn'" class="item" translate>app.konkani</ion-radio></div>
    <div class="center"> <ion-radio value="ka" [class.selected]="languageselected === 'ka'" class="item" translate>app.kannada</ion-radio></div>
    <div class="center"> <ion-radio value="or" [class.selected]="languageselected === 'or'" class="item" translate>app.oriya</ion-radio></div>
  </ion-radio-group>
  <div class="center lang_pref_lbl"> 
    Your language preference can be changed at any time in Settings.
  </div>
  <!-- <div class="center"><ion-button mode="md" size="default" fill="solid"  shape="round" class="continuetbn ion-margin" (click)="gotoLogin()">Continue</ion-button></div> -->
  <div class="center"><ion-button mode="md" size="default" fill="solid"  shape="round" class="continuetbn ion-margin" (click)="confirm()">{{btntitle}}</ion-button></div>
</ion-content>
