<ion-header>
  <ion-toolbar mode="md" color="xlight">
    <ion-buttons slot="start">
      <ion-button slot="start" size="small" fill="clear" (click)="close()"> <ion-icon slot="icon-only" name="arrow-back" class="font15 ion-padding-horizontal"></ion-icon></ion-button>
      </ion-buttons>
    <ion-title class="titletxt"></ion-title>
  </ion-toolbar>
  </ion-header>
  <ion-content mode="md" class="ion-no-padding">
    <div style="text-align: center;padding-top: 20px;" class="ion-no-margin ion-no-padding">
      <ion-img style="margin: 0 auto;height: 90px;width: 90px;border: 1px solid #d7d8da;border-radius: 50px;padding: 16px;background: #fff;" alt="logo" src="assets/imgs/preview.jpg" ></ion-img>
      
      <!-- <div style="color: #111812;font-size: 14px;font-weight: 400;height: 100px;background: #F6F6F6;z-index: -1;position: relative;top: -50px;    padding-top: 15%;"> -->
      <div style="color: #111812;font-size: 14px;font-weight: 400;">
        <span style="margin-right: 8px;font-size: 16px;font-weight: 600;">XYZ Pvt. Ltd.</span>
        <span><ion-icon name="location"></ion-icon><ion-text style="font-size: 16px;font-weight: 700;">Pune</ion-text></span>
      </div>
      <div class="ion-padding">
        <div style="text-align: left;">
          <div style="font-size: 16px;font-weight: 600;">Company Overview</div>
          <p style="font-size: 13px;">
            Lorem ipsum dolor sit amet consectetur. Venenatis cursus ullamcorper diam et donec suspendisse faucibus. Dolor blandit nascetur erat dui amet. Egestas turpis gravida varius mattis suspendisse suscipit aliquam at in. Rhoncus aliquam odio netus donec quis. A dictum adipiscing tellus nunc condimentum in purus molestie placerat. Metus dui purus vitae proin. Habitasse cras in lorem dictum hendrerit aliquam mauris sagittis eu.
          </p>
        </div>
        
        <div style="text-align: left;margin-bottom: 16px;">
          <div style="font-size: 16px;font-weight: 600;color: #150B3D;margin-bottom: 6px;">Location</div>
          <div style="font-size: 13px;">
            Street 41, Pune, INDIA
          </div>
        </div>
        
        <div style="text-align: left;margin-bottom: 16px;">
          <div style="font-size: 16px;font-weight: 600;color: #150B3D;margin-bottom: 6px;">Website</div>
          <div style="font-size: 13px;">
            https://www.google.com
          </div>
        </div>
        
        <div style="text-align: left;margin-bottom: 16px;">
          <div style="font-size: 16px;font-weight: 600;color: #150B3D;margin-bottom: 6px;">Industry</div>
          <div style="font-size: 13px;">
            XYZ pvt. ltd.
          </div>
        </div>
        
        <div style="text-align: left;margin-bottom: 16px;">
          <div style="font-size: 16px;font-weight: 600;color: #150B3D;margin-bottom: 6px;">Employee size</div>
          <div style="font-size: 13px;">
            132,121 Employees
          </div>
        </div>
        
        <div style="text-align: left;margin-bottom: 16px;">
          <div style="font-size: 16px;font-weight: 600;color: #150B3D;margin-bottom: 6px;">Head office</div>
          <div style="font-size: 13px;">
            Mumbai, India
          </div>
        </div>
        
        <div style="text-align: left;margin-bottom: 16px;">
          <div style="font-size: 16px;font-weight: 600;color: #150B3D;margin-bottom: 6px;">Type</div>
          <div style="font-size: 13px;">
            Start-up
          </div>
        </div>
        
        <div style="text-align: left;margin-bottom: 16px;">
          <div style="font-size: 16px;font-weight: 600;color: #150B3D;margin-bottom: 6px;">Since</div>
          <div style="font-size: 13px;">
            2019
          </div>
        </div>
        
        <div style="text-align: left;margin-bottom: 16px;">
          <div style="font-size: 16px;font-weight: 600;color: #150B3D;margin-bottom: 6px;">Specialization</div>
          <div style="font-size: 13px;">
            NGO, Public service, Healthcare
          </div>
        </div>

      </div>
    </div>
  </ion-content>
  