<ion-header class="ion-no-border ion-no-padding" >
  <ion-toolbar mode="md" class="ion-no-border" >
    <ion-button slot="start" size="small" fill="clear" (click)="goBack()"> <ion-icon slot="icon-only" name="chevron-back" class="font15 ion-padding-horizontal"></ion-icon></ion-button>
    <ion-label class="title"></ion-label>
    <ion-label mode="ios" slot="end" size="small" fill="clear" class="msg_lbl">Messages</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content class="">
  <div style="text-align: center;" class="ion-no-margin ion-padding">
    <ion-list lines="none">
      <ion-item *ngFor="let msg of messages;" (click)="openChat()">
        <ion-avatar slot="start">
          <img src="../../assets/imgs/card-coworker-avatar.png"/>
        </ion-avatar>
        <ion-label>
          <div class="header_lbl">{{msg.name}}</div>
          <p>{{msg.message}}</p>
        </ion-label>
        <ion-label slot="end" class="time_lbl">
          {{msg.time}}
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
